@import "tailwindcss";

@theme {
  --color-primary: #845BB3;
  --color-secondary: #DDBDF4;
  --color-third: #A98AD1;
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #845BB3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(167, 108, 209);
}